{{define "title"}}Login{{end}} {{define "main"}}
<form action="/user/login" method="POST" novalidate>
  <!-- Include the CSRF token -->
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

  {{range .Form.NonFieldErrors}}
    <p class="help is-danger">{{.}}</p>
  {{end}}

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input
        class="input {{with .Form.FieldErrors.email}} is-danger {{end}}"
        name="email"
        placeholder="Email"
        type="text"
        value="{{.Form.Email}}"
      />
    </div>
    {{with .Form.FieldErrors.email}}
    <p class="help is-danger">{{.}}</p>
    {{end}}
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input
        class="input {{with .Form.FieldErrors.password}} is-danger {{end}}"
        name="password"
        placeholder="***********"
        type="password"
      />
    </div>
    {{with .Form.FieldErrors.password}}
    <p class="help is-danger">{{.}}</p>
    {{end}}
  </div>
  <p class="control">
    <input type="submit" class="button is-link" value="Login" />
  </p>
</form>
{{end}}
