{{define "title"}}Change Password{{end}} {{define "main"}}
<h2 class="title">Change Password</h2>
<form action="/account/password/update" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

  <div class="field">
    <label class="label">Current password:</label>
    <div class="control">
      <input
        class="input {{with .Form.FieldErrors.currentPassword}} is-danger {{end}}"
        name="currentPassword"
        placeholder="***********"
        type="password"
      />
    </div>
    {{with .Form.FieldErrors.currentPassword}}
    <p class="help is-danger">{{.}}</p>
    {{end}}
  </div>

  <div class="field">
    <label class="label">New password:</label>
    <div class="control">
      <input
        class="input {{with .Form.FieldErrors.newPassword}} is-danger {{end}}"
        name="newPassword"
        placeholder="***********"
        type="password"
      />
    </div>
    {{with .Form.FieldErrors.newPassword}}
    <p class="help is-danger">{{.}}</p>
    {{end}}
  </div>

  <div class="field">
    <label class="label">Confirm new password:</label>
    <div class="control">
      <input
        class="input {{with .Form.FieldErrors.newPasswordConfirmation}} is-danger {{end}}"
        name="newPasswordConfirmation"
        placeholder="***********"
        type="password"
      />
    </div>
    {{with .Form.FieldErrors.newPasswordConfirmation}}
    <p class="help is-danger">{{.}}</p>
    {{end}}
  </div>

  <p class="control">
    <input type="submit" class="button is-link" value="Change Password" />
  </p>
</form>
{{end}}
