# Set the email address that should be used to contact you
# if there is a problem with your TLS certificates.
{
  email eliasramondos@gmail.com
}

ramonelias-greenlight.duckdns.org {
  reverse_proxy localhost:8076

  log {
    output file /home/ubuntu/coding/deploys/greenlight-access.log {
      roll_keep 10
      roll_size 10mb
      roll_keep_for 720h
    }
  }
}

ramonelias-snippets.duckdns.org {
  reverse_proxy localhost:8087

  log {
    output file /home/ubuntu/coding/deploys/snippets-access.log {
      roll_keep 10
      roll_size 10mb
      roll_keep_for 720h
    }
  }
}
