[Unit]
# Description is a human-readable name for the service.
Description=Golang Web App

# Wait until PostgreSQL is running and the network is "up" before starting the service.
# After=postgresql.service
# After=network-online.target
# Wants=network-online.target
After=network.target

# Configure service start rate limiting. If the service is (re)started more than 5 times
# in 600 seconds then don't permit it to start anymore.
# StartLimitIntervalSec=600
StartLimitIntervalSec=22
StartLimitBurst=5
# Restart=on-failure
# RestartSec=5s  # Aumenta este valor (ej. 10s, 30s)
# StartLimitIntervalSec=60s
# StartLimitBurst=5

[Service]
# Execute the API binary as the web_app user, loading the environment variables from
# /etc/environment and using the working directory /home/web_app.
Type=exec
User=ubuntu
Group=ubuntu
EnvironmentFile=/etc/environment
EnvironmentFile=/home/ubuntu/coding/deploys/web_app/.env
WorkingDirectory=/home/ubuntu/coding/deploys/web_app/
# ExecStart=export $(grep -v '^#' /home/ubuntu/coding/deploys/web_app/.env | xargs) && /home/ubuntu/coding/deploys/web_app/api -port=8076 -db-dsn=${SUPABASE_SESSION_POOLER_STRING} -env=production
# ExecStart=/home/ubuntu/coding/deploys/web_app/web -port=8087 -db-dsn=${SUPABASE_SESSION_POOLER_STRING}
ExecStart=/home/ubuntu/coding/deploys/web_app/web -port=8087 -db-dsn=${SUPABASE_SESSION_POOLER_STRING}

# Automatically restart the service after a 5-second wait if it exits with a non-zero 
# exit code. If it restarts more than 5 times in 600 seconds, then the rate limit we
# configured above will be hit and it won't be restarted anymore.
Restart=on-failure
RestartSec=5

[Install]
# Start the service automatically at boot time (the 'multi-user.target' describes a boot
# state when the system will accept logins).
WantedBy=multi-user.target
